body {
    background-color: black;
    height: auto;
}
#footer {
    background-color: rgb(25, 67, 206);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.links {
    background-color: rgb(25, 67, 206);
}
.links a {
    color: aliceblue;
}
ul {
    list-style-position: inside;
}
.main-content {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

}
li:first-child {
    font-size: 30px;
}
#info{
    margin-top: 100px;
    text-align: center;
  border-top: 3px dashed red;
  border-bottom: 3px dashed red;
}
li:nth-child(2n) {
    color: rgb(16, 134, 245);
}
#info h1 {
    padding-bottom: 15px;
    border-bottom: 3px dashed red;
}
#top {
    position: fixed;
    top: 0;
    position: fixed;
    width: 100%;
}
h1 {
    color:blueviolet;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}
img {
    border: 1px;
    border-color: blue;
}
::selection {
    color: aqua;
    background-color: blue;
}
h2 {
    background-color: aqua;
    margin: 0;
    color: blue;
    text-align: center;
}
p {
    color: darkblue;
    font-size: 22px;
    line-height: 1;
}
p b {
    color: blueviolet;
}
p:hover {
    color: crimson;
}
::marker {
    color: blue;
}
ul
{
    text-align: center;
    color: aqua;
}
.resources a {
    color: cyan;
    font-weight: bold;
    text-decoration: underline rgb(2, 90, 161);
}

.resources a:hover {
    color: red;
}
a:active {
    background-color: darkmagenta;
    color: darkturquoise;
    font-style: italic;
}
button{
    background-color: blue;
    color: aqua;
}
.goals{
    text-align: center;
    border-bottom: 3px dashed red;
}
/* a:hover {
    color: rgb(160, 14, 116);
    background-color: black;
} */